body{
margin:0;
padding:0;
font-family:"Times New Roman", Times, serif;
font-size:50px;
font-style:italic;
font-weight:900;
font-variant:small-caps;
text-align:center;
text-transform:capitalize;
background:#4080bf;
color:white;
}

p{
margin:50px;
padding:40px;
text-align:justify; 
text-indent:50px;
color:#3498db;
background:#ffffff;
border-radius:25px;
}

h1{
font-size:100px;
font-weight:900;
}

h2{
font-size:90px;
font-weight:900;
}

a{
outline:none;
text-decoration:none;
display:block;
padding:40px;
margin:100px 250px;
border-radius:25px;
background-color:skyblue;
color:#fff;
}
