body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-style: italic;
    font-weight: 900;
    font-variant: small-caps;
    text-align: center;
    text-transform: capitalize;
    color: #3498db;
}

p {
    margin: 50px;
    padding: 40px;
    text-align: justify;
    text-indent: 50px;
    word-spacing: 5px;
    color: #00264d;
    background-color: #3498db;
    border-radius: 25px;
}

h1 {
    font-size: 130px;
}

h2 {
    font-size: 90px;
}

h3 {
    font-size: 70px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

a {
    display: block;
    outline: none;
    text-decoration: none;
    color: #ffd633;
    background-color: #00264d;
    border-radius: 25px;
    margin: 100px;
    padding: 40px;
}

.anchor {
    margin: 100px 250px;
    color: #3498db;
    background-color: #00264d;
}