body {
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
    text-transform: capitalize;
    background-color: #F0F1F3;
    color: #183153;
}

p {
    margin: 50px;
    padding: 40px;
    font-weight: 400;
    text-align: justify;
    text-indent: 50px;
    color: #00264d;
    background: #fff;
    border-radius: 24px;
}

#p1 {
    text-indent: 0;
}

h1 {
    padding: 0;
    font-size: 150px;
}

h2 {
    font-size: 100px;
}

a {
    outline: none;
    text-decoration: none;
    display: block;
    padding: 40px;
    margin: 100px 80px;
    border-radius: 25px;
    background-color: #00264d;
    color: #ffd633;
}