
    /* Global Responsiveness & Centering */
    body {
        max-width: 1200px;
        margin: 0 auto !important;
        padding: 20px !important;
        line-height: 1.6;
        float: none !important;
    }
    img, video, iframe {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 20px auto;
    }
    table, form, fieldset, details {
        margin: 20px auto !important;
        float: none !important;
    }
    
body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-style: italic;
    font-weight: 900;
    font-variant: small-caps;
    text-align: center;
    text-transform: capitalize;
    color: #00264d;
}

p {
    margin: 50px;
    padding: 40px;
    word-spacing: 5px;
    text-indent: 50px;
    text-align: justify;
    color: #00e6ac;
    background-color: #00264d;
    border-radius: 25px;
}

h1 {
    font-size: 130px;
}

h2 {
    font-size: 100px;
}

div {
    background-color: #00e6ac;
    color: #00264d;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
}

i {
    padding: 40px;
    width: calc(33% - 20px);
    font-size: 100px;
}

a {
    outline: none;
    text-decoration: none;
    display: block;
    padding: 40px;
    margin: 100px 80px;
    font-size: 70px;
    background-color: #00264d;
    border-radius: 25px;
    color: #ffd633;
}

.anchor {
    margin: 100px 250px;
    font-size: 50px;
    color: #00264d;
    background-color: #00e6ac;
}