body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-style: italic;
    font-weight: 900;
    font-variant: small-caps;
    text-align: center;
    text-transform: capitalize;
    color: #3498db;
}

p {
    margin: 50px;
    padding: 40px;
    text-align: justify;
    text-indent: 50px;
    word-spacing: 5px;
    color: #00264d;
    background-color: #00e6ac;
    border-radius: 25px;
}

#para {
    text-indent: 0;
}

h1 {
    font-size: 130px;
}

h2 {
    font-size: 90px;
}

h3 {
    font-size: 70px;
}

img {
    width: 880px;
    border-radius: 25px;
}

svg {
    height: 880px;
    width: 880px;
    background-color: #00e6ac;
    border-radius: 25px;
}

.logo {
    width: 800px;
    padding: 40px;
    background-color: #3498db;
}

video {
    width: 880px;
    border-radius: 25px;
}

audio {
    width: 880px;
}

form {
    background-color: #00264d;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
}

input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {
    background: none;
    display: block;
    outline: none;
    text-align: center;
    color: white;
    border: 10px solid #00e6ac;
    border-radius: 80px;
    padding: 40px 20px;
    margin: 40px auto;
    width: 350px;
    trasition: 0.25s;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-style: italic;
    font-weight: 900;
    font-variant: small-caps;
    text-transform: capitalize;
}

input[type="text"]:hover,
input[type="password"]:hover {
    width: 450px;
    border-color: #ffd633;
}

input[type="submit"] {
    background: none;
    display: block;
    margin: 40px auto;
    text-align: center;
    border: 10px solid #ffd633;
    padding: 40px 20px;
    width: 250px;
    outline: none;
    color: #ffd633;
    font-weight: 900;
    border-radius: 80px;
    trasition: 0.25s;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
    font-size: 50px;
}

input[type="submit"]:hover {
    background-color: #ffd633;
    color: #00264d;
}

input[type="radio"],
input[type="checkbox"] {
    outline: none;
    background: none;
    height: 100px;
    width: 100px;
}

label {
    font-size: 50px;
}

a {
    display: block;
    outline: none;
    text-decoration: none;
    color: #00e6ac;
    background-color: #00264d;
    border-radius: 25px;
    margin: 100px;
    padding: 40px;
}

.anchor {
    margin: 100px 250px;
    color: #00e6ac;
    background-color: #00264d;
}